@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kolej Tun Dr Ismail<br />
    Universiti Teknologi Malaysia<br />
    <abbr title="Phone">P:</abbr>
    019-4449231
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@abang.com">Support@abang.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@abang.com">Marketing@abang.com</a>
</address>